/* Nemanja Ciric*/


body{
    background-image:url(slike/pozadina.jpg);
    background-size: cover;
}
 .card{
     margin-left: 15px;
     margin-right: 15px;
 }

#korisnici,#lekovi,#pitanja{
    display: none;
}

.neodgovoreno{
    background-color: red;
}

.odgovoreno{
    background-color: green;
}

iframe{
    width: 100%;
}

#kontakt_str{
    background-color: rgba(10, 10, 10, 0.274);
    padding: 30px;
    color: aliceblue;
    text-align: center;
    position: absolute;
    
    width: 100%;
 
}

.list-group{
    margin-bottom: 10px;
}


input{
    text-align: center;
}